<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Diary Entry</title>
</head>
<body>
    <h1>Welcome to the Blog App!</h1>
    <a href="{{ url_for('add_entry') }}">
        <button type="button">Add an Entry</button>
    </a>    
    <p>
        {% if not entries %}
            No entries yet
        {% else %}
            {% for entry in entries %}
            <h2>Title:{{ entry.title }}, Date:{{ entry.timestamp.strftime('%Y-%m-%d') }}</h2>
            <p>Contents:{{ entry.content }}</p>
            <form action="{{ url_for('edit_entry',id=entry.id) }}" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="{{ url_for('delete_entry',id=entry.id) }}" method="post">
                <button type="submit">Delete</button>
            </form>
            {% endfor %}
        {% endif %}
    </p>
</body>
</html>